* {
    box-sizing: border-box;
}

input {

    padding-left: 1rem;

    width: 429.13px;
    height: 50.49px;

    outline: none;
    border: none;


    background: #EEEEEE;
    border-radius: 8.07781px;
}

.input-container {
    display: flex;

    height: 53px;
    width: auto;
}

.icon-box {
    position: relative;

    display: flex;

    justify-content: center;
    align-items: center;

    left: -51px;
    width: 50.49px;
    height: 50.49px;

    background-color: #1DC78A;
    border-radius: 8.07781px;

    z-index: 1;
}

.icon {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}
