.Menu {
    margin-top: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 228px;
    height: auto;
    background-color: rgba(217, 217, 217, 0.6);
}

button {
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Menu-item1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 38px;
    border-top: 0.5px solid rgba(29, 199, 138, 0.7);
    background: linear-gradient(90deg, rgba(29, 199, 138, 0.53) -13.38%, rgba(1, 87, 253, 0.53) 121.05%);
}

.Menu-item2 {
    width: 100%;
    background: rgba(29, 199, 138, 0.19);
    border: 0.5px solid rgba(29, 199, 138, 0.75);
}

.Menu-item3 {
    height: 38px;
    width: 100%;
    background: rgba(1, 87, 253, 0.19);
    border: 0.5px solid rgba(29, 199, 138, 0.7);

}

.Menu-itemX {
    width: 100%;
    height: 38px;
    left: 0px;


    background: rgba(1, 87, 253, 0.19);
    border: 0.5px solid rgba(29, 199, 138, 0.7);

}

.Menu-item4 {
    position: absolute;
    bottom: 0;
    border: none;
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

span {
    margin: 8.33px;
}
