.ButtonDashBox {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14.1362px;
    line-height: 21px;
    

    width: 143px;
    height: 30px;
    left: 1045px;
    top: 161px;

    background: rgba(217, 217, 217, 0.62);
    border-radius: 100px;
}